<!DOCTYPE html>
<%- include('../header'); %>
<body>
<%- include('../navbar', {arg: {activeEmail: 'active'}}); %>
<div class="todo-container">
    <h2>List Email</h2>
    <div class="todo">
        <form action="/configs/email" method="POST" class="todo-header">
            <input type="text" name="content">
            <button type="submit"><span class="fas fa-plus"></span></button>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="inputZip">
                </div>
            </div>
        </form>
        <ul class="todo-list">
            <% emails.forEach(email => { %>
                <li class="todo-list-item">
                    <div class="todo-list-item-name"><%= email.email %></div>
                    <a href="/configs/email/remove/<%= email._id %>" class="remove">
                        <span class="fas fa-times"></span>
                    </a>
                </li>
            <% }) %>
        </ul>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>